{% extends 'base.html.twig' %}

{% block pagetitle %}Admin Archivos{% endblock %}

{% block body %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center mt-3">
            <h1 class="display-5 fw-bold">Gesti칩n de equipos</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">A침ade apuntes a la plataforma.</p>
                <p class="lead mb-4">S칩lo tus alumnos matriculados podr치n ver el contenido.</p>
            </div>
            <div class="row text-center p-5">
                <a href="{{ path('teams_admin') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
            </div>
            {% for message in app.flashes('success') %}
                <div class="flash-notice bg-success text-center w-50 m-auto">
                    <i class="bi bi-check-circle-fill"></i> {{ message }} <i class="bi bi-check-circle-fill"></i>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="flash-notice bg-danger text-center w-50 m-auto">
                    <i class="bi bi-exclamation-circle"></i> {{ message }} <i class="bi bi-exclamation-circle"></i>
                </div>
            {% endfor %}

            <div class="row text-center mt-3">
                <div class="col-lg-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Subir Archivo</h5>
                            <form action="{{ path('upload_file', {'id': id}) }}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="fileUpload" class="form-label">Selecciona un archivo:</label>
                                    <input type="file" id="fileUpload" name="file" class="form-control-file">
                                </div>
                                <button type="submit" class="btn btn-primary">Subir archivo</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-8 offset-lg-2">
                    {% if files is not empty %}
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Lista de archivos</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for file in files %}
                                    <li class="list-group-item">
                                        <a href="{{ path( 'download_file', { id: id, filename: file } ) }}" target="_blank">{{ file }}</a>
                                        <a href="{{ path( 'delete_file', { id: id, filename: file } ) }}" class="btn btn-danger btn-sm float-end">Eliminar</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>No se encontraron archivos.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
