{% extends 'base.html.twig' %}

{% block pagetitle %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="http://www.planesdeformacion.es/wp-content/uploads/2015/03/trabajo_en_equipo.jpg" alt="" width="190" height="110">
        <h1 class="display-5 fw-bold">Mis equipos</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Pulse en un equipo para ver los integrantes o unirse a las clases</p>
        </div>
    </div>
    <div class="row text-center p-5">
        <a href="{{ path('profile') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><i class="bi bi-person-square"></i> Equipo</th>
            <th scope="col"><i class="bi bi-mortarboard-fill"></i> Profesor</th>
            <th scope="col"><i class="bi bi-people-fill"></i> Miembros</th>
            <th scope="col"><i class="bi bi-book-half"></i> Clases</th>
        </tr>
        </thead>
        <tbody>
        {% for team in app.user.teams %}
            <tr>
               <td>{{ team.name }}</td>
               <td>{{ team.owner.name }} {{ team.owner.surname }}</td>
               <td><a href="{{ path('team_members', {id: team.id}) }}" class="btn btn-primary">Alumnos</a></td>
               <td><a href="{{ path('team_lessons', {id: team.id}) }}" class="btn btn-warning">Clases</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
