{% extends 'base.html.twig' %}

{% block pagetitle %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center mt-3">
            <img class="d-block mx-auto mb-4" src="https://w7.pngwing.com/pngs/835/435/png-transparent-classroom-teacher-teacher-text-class-logo.png" alt="" width="190" height="130">
            <h1 class="display-5 fw-bold">{{ team.name }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Profesor: {{ team.owner.name }} {{ team.owner.surname }}</p>
            </div>
            <div class="row text-center p-5">
                <a href="{{ path('teams') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><i class="bi bi-book-half"></i> Titulo</th>
                    <th scope="col"><i class="bi bi-calendar-event"></i> Comienzo</th>
                    <th scope="col"><i class="bi bi-calendar-event-fill"></i> Final</th>
                    <th scope="col"><i class="bi bi-camera-video-fill"></i> Unirse</th>
                </tr>
                </thead>
                <tbody>
                {% for lesson in team.lessons %}
                    <tr>
                        <td>{{ lesson.title }}</td>
                        <td>{{ lesson.startdate | date("d/m/Y") }} a las {{ lesson.starttime | date("H:i") }}</td>
                        <td>{{ lesson.enddate | date("d/m/Y") }} a las {{ lesson.endtime | date("H:i") }}</td>
                        <td><a href="{{ path('enter_lesson', {id : lesson.id}) }}" class="btn btn-success">Unirse</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
