{% extends 'base.html.twig' %}

{% block pagetitle %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center mt-3">
            <img class="d-block mx-auto mb-4" src="https://www.kindpng.com/picc/m/377-3777123_source-contact-school-icono-alumno-png-transparent-png.png" alt="" width="150" height="130">
            <h1 class="display-5 fw-bold">{{ team.name }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Profesor: {{ team.owner.name }} {{ team.owner.surname }}</p>
            </div>
            <div class="row text-center p-5">
                <a href="{{ path('teams') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><i class="bi bi-person-square"></i> Nombre</th>
                    <th scope="col"><i class="bi bi-person-square"></i> Apellidos</th>
                </tr>
                </thead>
                <tbody>
                {% for student in members %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.surname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
