{% extends 'base.html.twig' %}

{% block pagetitle %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2RD5bVLCVTUmCqVnvFB88T7E3LfgyZo5osg&usqp=CAU" alt="" width="160" height="130">
        <h1 class="display-5 fw-bold">{{team.name}}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Añade o elimina alumnos al equipo actual</p>
        </div>
    </div>
    <div class="row text-center p-5">
        <a href="{{ path('teams_admin') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-notice bg-success text-center w-50 m-auto">
            <i class="bi bi-check-circle-fill"></i> {{ message }} <i class="bi bi-check-circle-fill"></i>
        </div>
    {% endfor %}
    <div class="row text-center border border-dark shadow p-3">
        <div class="col-md-12 col-lg-6">
            <p>Añadir alumno al equipo</p>
        </div>
        <div class="col-md-12 col-lg-6">
            {{ form_start(form, {'attr': {'class': 'd-flex w-75 justify-content-center m-auto'}}) }}
                {{ form_row(form.alumno) }}
            {{ form_end(form) }}
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><i class="bi bi-person-square"></i> Nombre</th>
            <th scope="col"><i class="bi bi-pencil-fill"></i> Apellidos</th>
            <th scope="col"><i class="bi bi-trash-fill"></i> Eliminar</th>
        </tr>
        </thead>
        <tbody>
        {% for user in team.students %}
            <tr>
               <td>{{ user.name }}</td>
               <td>{{ user.surname }}</td>
                <td><a href="{{ path('team_students_delete', {id: team.id, userid: user.id}) }}" class="btn btn-danger">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
