{% extends 'base.html.twig' %}

{% block pagetitle %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://w7.pngwing.com/pngs/835/435/png-transparent-classroom-teacher-teacher-text-class-logo.png" alt="" width="190" height="130">
        <h1 class="display-5 fw-bold">Gestión de clases</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Consulta, modifica y crea nuevas clases</p>
            <p class="lead mb-4">Pulse en un equipo para consultar sus clases</p>
        </div>
    </div>
    <div class="row text-center p-5">
        <a href="{{ path('profile') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-notice bg-success text-center w-50 m-auto">
            <i class="bi bi-check-circle-fill"></i> {{ message }} <i class="bi bi-check-circle-fill"></i>
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><i class="bi bi-person-square"></i> Equipo</th>
            <th scope="col"><i class="bi bi-book-half"></i> Clases</th>
        </tr>
        </thead>
        <tbody>
        {% for team in app.user.ownerteams %}
            <tr>
               <td>{{ team.name }}</td>
                <td><a href="{{ path('lessons_team_admin', {id: team.id}) }}" class="btn btn-warning">Clases</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
